@{
  Layout = "_Layout";
}

@using ToDoList.Models;
@using System.Security.Claims;
@model List<ToDoList.Models.Item>;

<h2>Here is a list of your tasks, @User.Identity.Name</h2>
<hr/>

@if (Model.Any())
{
 <ul>
  @foreach (Item item in Model)
  {
    <li>@Html.ActionLink($"{item.Description}", "Details", new { id = item.ItemId})</li>
  }
</ul>
} 
else
{
  <h3>No items have been added yet!</h3>
}




<p>@Html.ActionLink("Add new item", "Create")</p>